body {
  background-color: #EFE6BE;
  font-family: arial, sans-serif;
  color: #001427;
  padding: 15px;

}

.wrapper {
  background-color: #EFE6BE;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
}

h2 {
margin-bottom: .25em;
margin-top: 1em;
}

h1, h2 {
  color: #07020D;
}



blockquote {
  font-size:2.5vw;
  color: #0B0014;
  font-weight: bold;
  border-left: 3px solid #454851;
  border-right: 3px solid #454851;
  border-top: 3px solid #454851;
  border-bottom: 3px solid #454851;
  padding: 11px;
  background-color: #F8F4E3;
  margin-left: 0;
}

.image {
  text-align: center;
  margin: 2em 0;

}

.iframe {
  text-align: center;

}
.caption {
  font-family: "Times New Roman"
  font-style: italic;
  margin-top: .25em;
}

a {
  color: #006494;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 21px;
  margin-top: 8px;
}

p {
  line-height: 1.4em;
}

header {
  background-image: url(../images/wood.jpg);
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
}

h2 {
  text-align: center
}
footer.wrapper {
  text-align: center;
  padding: 20px 10px;
  border-top: 2px solid #22181C;
}
