body {
  background-color: #6E7DAB;
  font-family: arial, sans-serif;
  color: #383F51;
}

.wrapper {
  background-color: #ffffff;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
}

h2 {
margin-bottom: .25em;
margin-top: 1em;
}

h1, h2 {
  color: #003554;
}



blockquote {
  border-left: 5px solid #3C4F76;
  padding-left: 12px;
  background-color: #F9F8F8;
  margin-left: 0;
}

.image {
  text-align: center;
  margin: 2em 0;
}

.caption {
  font-style: italic;
  margin-top: .25em;
}

a {
  color: #006494;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 21px;
  margin-top: 8px;
}

p {
  line-height: 1.4em;
}

header {
  background-image: url(../images/moroccan-flower.png);
  border-bottom: 2px solid #d2d2d2;
  text-align: center;
}

footer.wrapper {
  text-align: center;
  padding: 40px 20px;
  border-top: 2px solid #d2d2d2;
}
